@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Roboto, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dark-background {
    background: #1F2937;
    color: #F9FAFB;
    flex: 1;
}

.white-background {
    background: #F9FAFB;
    color: #1F2836;
    flex: 1;
}

.grey-background {
    background: #E5E7EB;
    color: #1F2937;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.right-link {
    padding: 10px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 150px 100px 150px;
}

.sign-up-button {
    background: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAFB;
    padding: 5px 20px;
    margin: 10px 0px;
}

.random-info-section {
    padding: 40px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section {
    display: flex;
}

.info-block {
    text-align: center;
    width: 150px;
    height: auto;
    margin: 10px;
    color: #A4A8B0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.square {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.quote-section {
    padding: 100px 250px;
}

.sign-up-section {
    margin: 60px 170px;
    padding: 0px 150px;
    border-radius: 5px;
    background: #3882F6;
    color: #F9FAFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-bubble {
    padding: 30px 0px;
}

.footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo {
    font-size: 24px;
}

#hero-container {
    margin-right: 50px;
}

#hero-main {
    font-size: 48px;
    font-weight: bolder;
}

#hero-secondary {
    font-size: 18px;
    color: #A4A8B0;
}

#image-placeholder {
    width: 800px;
    height: 200px;
    background: #6D747D;
    color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-section-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#quote-text {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
}

#quote-signature {
    font-weight: 900;
    padding: 8px;
    text-align: right;
}

#alt-button {
    border: 1px solid #F9FAFB;
}

#call-to-action-title {
    font-weight: bolder;
}

#call-to-action-body {
    font-size: 13px;
    color: #E5E7EB;
}

p {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: #A4A8B0;
}